# ===============================
# UrbanMove Production ENV (AWS)
# ===============================

# Database (AWS RDS PostgreSQL)
DB_HOST=urbanmove-db.cvisy6ykq8ne.eu-north-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=urbanadmin
DB_PASS=UrbanDB123!

# App
PORT=3000
NODE_ENV=production

# Security
JWT_SECRET=super_secure_random_key

# Optional (future extensions)
REDIS_HOST=
KAFKA_BROKERS=
S3_BUCKET=
AWS_REGION=eu-north-1
